<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect To Trailing Slashes If Not A Folder Or A File...
    RewriteCond %{HTTPS}s ^(on(s)|offs)$
    RewriteRule ^ - [env=proto:http%2]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} (.+[^/])$
    RewriteCond %{REQUEST_URI} !^/admin
    RewriteCond %{REQUEST_URI} !^/blog
    RewriteCond %{REQUEST_URI} !^/_debugbar
    RewriteCond %{REQUEST_URI} !\.(css|js|gif|ico|jpg|png|swf|txt)$
    RewriteCond %{REQUEST_METHOD} !POST
    RewriteRule ^ %{ENV:proto}://%{HTTP_HOST}%{REQUEST_URI}/ [L,R=301]
    
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
